body {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-family: arial;
}

.container {
    width:75%;
    display:flex;
    flex-shrink:0;
    flex-direction: column;
    justify-content: center;
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #76affa;
    padding:10px;
    font-size:20px;
    align-items: center;
}

.content {
    background-color:rgb(230, 230, 230);
    padding:15px;
}

.btn {
    text-decoration: none;
    color:rgb(44, 44, 44);
    background-color:rgb(179, 231, 183);
    padding:8px;
    cursor:pointer;
    border-radius:3px;
    border-width:0px;
}

.btn:hover {
    background-color:rgb(115, 173, 119);
}

.btn-cancel {
    background-color: rgb(224, 152, 152);
}

.btn-cancel:hover {
    background-color: rgb(177, 111, 111);
}

table {
    width: 100%;
}

th, td {
    padding:10px;
}

tr:nth-child(odd) {
    background-color: rgb(190, 190, 190);
}

th {
    text-align:left;
    width:33%;
}